// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container {
  display: flex;
  justify-content: center;
  margin-top: 300px;

}

.list {
  display:inline-block;
  margin: 300px 300px;
  width: 500px;

}
